<!DOCTYPE html>
<html ng-app="safestore" ng-csp>
    <head>
        <meta charset="utf-8" />
        <title>SafeStore</title>
        {%- if environment == "pro" %}
        <link href="less/style.css" rel="stylesheet" type="text/css">
        {%- else %}
        <link rel="stylesheet/less" type="text/css" href="less/style.less">
        <script src="lib/less-1.3.1.min.js"></script>
        {%- endif %}
    </head>
    <body>
        <div class="main" id="main">
            <div class="views" ng-view></div>
        </div>

        <!-- Main libraries -->
        <script src="lib/min/main.min.js"></script>
        <script src="lib/min/pidcrypt.min.js"></script>
        <script src="lib/min/cryptojs.min.js"></script>
        <script src="lib/min/sjcl.min.js"></script>
        {%- if environment == "pro" %}
        <script src="lib/min/safestore.min.js"></script>
        {%- else %}
        <script src="js/app.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/storage/html5-localstorage.js"></script>
        <script src="js/services/common.js"></script>
        <script src="js/services/storage.js"></script>
        <script src="js/services/upload.js"></script>
        <script src="js/controllers/base.js"></script>
        <script src="js/controllers/auth.js"></script>
        <script src="js/controllers/messages.js"></script>
        <script src="js/controllers/notes.js"></script>
        <script src="js/controllers/profile.js"></script>
        <script src="js/controllers/privkey.js"></script>
        <script src="js/controllers/shares.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives/common.js"></script>
        {%- endif %}
        <script src="js/config.js"></script>
    </body>
</html>
