@font-face {
    font-family: 'SnippetRegular';
    src: url('../fonts/Snippet-webfont.eot');
    src: url('../fonts/Snippet-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Snippet-webfont.woff') format('woff'),
         url('../fonts/Snippet-webfont.ttf') format('truetype'),
         url('../fonts/Snippet-webfont.svg#SnippetRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
}

header {
    background: #D7DDE3;
    color: #6D757E;
    background: #595C60;
}

footer {
    color: #6D757E;
    background: #595C60;
    padding: 30px 0px;
}
p {
    margin: 0 0 9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

ul.simple {
    margin-left: 0px;
}

ul.simple li {
    list-style: none;
}

footer .footer-item {
    display: inline-block;
}
footer .footer-item.right {
    float:right;
}

footer .footer-item.right a {
    margin-left: 10px;
}

header nav {
    margin: 20px 0 0;
    float: right;
}

header nav a {
    color: white;
    font-weight: bold;
}

header nav a:hover {
    color: white;
}

header nav > ul > li {
    margin: 0 0 0 30px;
}

header .top-left {
    padding-top: 40px;
}

header .top-right {
    padding-top:30px;
    padding-left:100px;
}

header .hero {
    height: 200px;
}

header h2 {
    color: white;
    font-weight: 600;
    margin: 0 0 5px;
    font-size: 16px;
}

header p.h2 {
    font: 15px/24px "proxima-nova","Helvetica Neue",arial,sans-serif;
    color: white;
}

header p {
    font: 14px/24px "proxima-nova","Helvetica Neue",arial,sans-serif;
    margin: 0px;
    color: #aaa;
}

header .logo a {
    font-weight: bold;
    font-size: 32px;
    font-family: "SnippetRegular";
    color: #F0431C;
}

header .logo a:hover {
    color: #F0431C;
    text-decoration: none;
}

header .logo {
    margin-bottom: 15px;
}

header .btn {
    background: white;
    border: 0;
    font-size: 14px;
    padding: 11px 16px;
    text-shadow: none;
    font-weight: 600;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    float: left;
    font-size: 14px;
}

.features {
    color: #2F3A48;
    padding: 32px 0 32px;
    background-color: #eaeaea;
}

.features .feature h3 span.pictos {
    line-height: 1;
    font-size: 25px;
    padding: 0 10px 0 0;
    position: relative;
    top: 3px;
}

.features .feature h3  {
    color: #2F3A48;
    font: bold 18px/40px "Helvetica Neue",Helvetica,Arial,Sans-serif;
    margin: 0 0 13px;
}

.doc {
    color: #2F3A48;
    padding: 32px 0 32px;
    background-color: white;
}

.doc .title {
    border-bottom: 1px solid #eee;
    margin: 18px 0;
}

section.faq-item {
    margin-bottom: 30px;
}
