<div class="header-background" >
    <div class="container header-container">
        <div class="row title-row">
            <div class="span7 left">
                <span>
                    <span class="title">Safestore</span> -
                    <a href="#!/notes">Notes</a> -
                    <a href="#!/files">Files</a> -
                    <a href="#!/shares">Pending shares</a> -
                    <a href="#!/messages">Messages</a>
                </span>
            </div>
            <div class="span5 right">
                <div class="dropdown user-menu">
                    <span ui-dropdown class="dropdown-toggle user-uuid" >{{ auth.username }}</span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#!/privkey">Setup privkey</a></li>
                        <li><a href="#!/profile">Profile</a></li>
                    </ul>
                </div>
                <div class="user-action">
                    <a href="#!/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/notify.html'"></div>
