<div id="login-window" class="auth-window">
    <div ng-include="'partials/notify.html'"></div>
    <!-- Login Box -->
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <div id="login-box" class="login-box center-box">
                    <div class="title-box">
                        <div class="title">{{ title }}</div>
                    </div>
                    <form method="" action=""ui-parsley="submit()">
                        <div class="control-group">
                            <label class="control-label">Username: </label>
                            <div class="controls">
                                <input type="text" ng-model="form.fields.username" name="username" data-required="true"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password: </label>
                            <div class="controls">
                                <input type="password" ng-model="form.fields.password" name="password" data-required="true" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <a href="#!/register" class="label">Register</a>
                                <a href="#!/verify" class="label">Verify</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
