<!-- Main window: container for other subwindows. -->
<div id="main-window">
    <div ng-include="'partials/header.html'"></div>

    <div class="container form-errors-container " ng-class="{ hidden: !form.errors.length }">
        <div class="row">
            <div class="span12">
                <div class="alert alert-error">
                    <button type="button" class="close" ng-click="clearFormErrors()">×</button>
                    <div class="msg-list">
                        <div class="error-item" ng-repeat="error in form.errors">{{ error }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container msg-container">
        <div class="row buttons-row">
            <div class="span12">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-small new-note" ng-click="openMessageForm()"><i class="icon-tag"></i> New message</button>
                        <button class="btn btn-small disabled" ng-class="{ disabled: !anyChecked }"
                            ui-simple-modal="removeSelected()" data-target="#deleteMessagesModal" title="Remove" id="btn-remove-note">
                            <i class="icon-remove"></i> Remove selected messages
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-row" ng-hide="hideForm">
            <div class="span12">
                <div class="msgs-form">
                    <div class="title">
                        <h3>Compose new message:</h3>
                    </div>
                    <form class="" ui-parsley="submit()">
                        <fieldset class="well well-small">
                            <div class="control-group">
                                <input type="text" name="title" id="message-title" class="message-title"
                                    placeholder="Subject" ng-model="currentMessage.subject" data-required="true"/>
                            </div>
                            <div class="control-group">
                                <select ng-model="currentMessage.contactId" data-required="true">
                                    <option value="">....</option>
                                    <option ng-repeat="contact in contacts" value="{{ contact.id }}"
                                        data-user-id="{{ contact.user_id }}">{{ contact.alias }}</option>
                                </select>
                            </div>

                            <div class="control-group">
                                <textarea class="message-content" placeholder="Note content"
                                    ng-model="currentMessage.content" data-required="true"></textarea>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Send"></input>
                            <input type="button" class="btn btn-cancel" ng-click="close()" value="Cancel"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row msgs-preview" ng-hide="hidePreview">
            <div class="span12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="subject">Subject:</th>
                            <th class="title">From:</th>
                            <th class="datetime">Created At:</th>
                            <th class="status">Status:</th>
                        </tr>
                    <thead>
                    <tbody>
                        <tr>
                            <td>{{ currentMessage.subject }}</td>
                            <td>{{ currentMessage.from_id }}</td>
                            <td>{{ currentMessage.created_at }}</td>
                            <td ng-switch="currentMessage.response">
                                <span ng-switch-when="null">Pending</span>
                                <span ng-switch-default>Responded</span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4">Received message:</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="response-preview">{{ currentMessage.content|trim }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4">Your response:</th>
                        </tr>
                        <tr>
                            <td colspan="4" ng-switch="currentMessage.response">
                                <div class="response-form" ng-switch-when="null">
                                    <form ui-parsley="submitResponse()">
                                        <div class="control-group">
                                            <textarea ng-model="responseForm.content" data-required="true"></textarea>
                                        </div>
                                        <div class="content-group">
                                            <input type="submit" class="btn" value="Send response"></input>
                                            <input type="button" class="btn btn-cancel" ng-click="close()" value="Close"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="response-preview" ng-switch-defaualt>{{ currentMessage.response|trim }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row msgs-row" ng-hide="hideList">
            <div class="span12">
                <div class="msg-list">
                    <table class="table table-condensed table-striped table-bordered"
                            ui-multiple-modal="deleteMessage()" data-target="#deleteMessagesModal" data-items=".btn-delete-message">
                        <thead>
                            <tr>
                                <th class="subject">Subject</th>
                                <th class="title">From</th>
                                <th class="datetime">Created</th>
                                <th class="status">Status</th>
                                <th class="buttons">Options</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr ng-repeat="message in messages | orderBy:'-created_at'">
                                <td>{{ message.subject }}</td>
                                <td>{{ message.recipient_id }}</td>
                                <td>{{ message.created_at|timesince }}</td>
                                <td ng-switch="message.response">
                                    <span ng-switch-when="null">Pending</span>
                                    <span ng-switch-default>Responded</span>
                                </td>
                                <td>
                                    <a class="btn btn-small" ng-click="previewMessage(message)">View</a>
                                    <a class="btn btn-small btn-delete-message">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteMessagesModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete messages</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Delete</button>
        </div>
    </div>
</div>
