<!-- Main window: container for other subwindows. -->
<div id="main-window">
    <div ng-include="'partials/header.html'"></div>

    <div class="container form-errors-container" ng-class="{ hidden: !form.errors.length }">
        <div class="row">
            <div class="span12">
                <div class="alert alert-error">
                    <button type="button" class="close" ng-click="clearFormErrors()">×</button>
                    <div class="msg-list">
                        <div class="error-item" ng-repeat="error in form.errors">{{ error }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container notes-container" id="notes-container">
        <!--
        <input type="file" id="file"></input>
        -->
        <div class="row">
            <div class="span8">
                <div class="box-left">
                    <div class="box-middle" id="box-middle">
                        <div class="btn-toolbar right-btn-toolbar">
                            <div class="links">
                                <ul>
                                    <li><i class="icon-list"></i> <a href="" ng-click="closeForm(false)"
                                            ng-class="{disabled: !formOpen}">view list</a></li>
                                    <li><i class="icon-tag"></i> <a href="" ng-click="openForm()">new note</a></li>
                                    <li><i class="icon-random"></i> <a href="" ng-click="openMerge()"
                                        ng-class="{ disabled: !twoChecked }">merge</a></li>
                                    <li><i class="icon-remove"></i> <a href="" ui-simple-modal="removeSelected()"
                                        data-target="#deleteNotesModal" ng-class="{ disabled: !anyChecked }">remove</a></li>
                                    <li><i class="icon-refresh"></i> <a href="" ng-click="init(true)"> reload</a></li>
                                </ul>
                            </div>
                            <div class="search">
                                <input type="text" class="input" placeholder="Search..."
                                    ng-model="query" ng-change="search()" />
                            </div>
                        </div>

                        <!-- Merge Window -->
                        <div class="box-notes-merge well well-small" ng-show="mergeOpen">
                            <div class="raw-patch">
                                <h4>Raw patch preview</h4>
                                <textarea ng-model="textPatch"></textarea>
                            </div>
                            <div class="pretty-patch">
                                <h4>Pretty patch preview</h4>
                                <div class="content" ng-bind-html-unsafe="prettyPatch" contenteditable>{{ prettyPatch }}</div>
                            </div>
                        </div>
                        <!-- End Merge Window -->

                        <!-- New/Edit Note form -->
                        <div class="box-notes-form well well-small hidden" id="box-notes-form" ng-class="{hidden: !formOpen}">
                            <form class="notes-form" ui-parsley="submit()">
                                <fieldset>
                                    <div class="control-group">
                                        <input type="text" name="title" id="notes-title" class="notes-title"
                                            placeholder="Title" ng-model="selectedNote.title"  data-required="true"/>
                                    </div>

                                    <div class="control-group">
                                        <textarea id="notes-content" class="notes-content" placeholder="Note content"
                                            ng-model="selectedNote.content" data-required="true"></textarea>
                                    </div>

                                </fieldset>

                                <button type="submit" class="btn btn-primary">Save</button>
                                <a class="btn btn-cancel" ng-click="closeForm(false)">Cancel</a>
                                <a class="btn btn-download" download="{{ selectedNote.slug }}.txt" ng-show="selectedNote.slug"
                                    href="{{ selectedNote.url }}">Download</a>
                            </form>
                        </div>
                        <!-- End New/Edit Notes form -->

                        <!-- Notes list window -->
                        <div class="box-notes-list box" ng-class="{hidden: formOpen || mergeOpen}">
                            <div class="load-progress" ui-progress="'notesLoadedPercent'">
                                <div class="load-text">Loading notes...</div>
                                <div class="progress progress-danger progress-striped active ">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </div>

                            <table class="table table-condensed table-striped"
                                    ui-multiple-modal="shareNote()"
                                    ng-show="notesLoaded"
                                    data-target="#shareNoteModal"
                                    data-items=".btn-share">
                                <thead>
                                    <tr>
                                        <th class="input"></th>
                                        <th class="title">Title</th>
                                        <th class="datetime">Created</th>
                                        <th class="buttons">Options</th>
                                    </tr>
                                <thead>
                                <tfoot>
                                    <td colspan="6">
                                        <div class="pagination pull-right pagination-small">
                                            <ul>
                                                <li ng-class="{disabled: currentPage == 0}">
                                                    <a href ng-click="prevPage()">« Prev</a>
                                                </li>
                                                <li ng-repeat="n in range(pagedItems.length)"
                                                    ng-class="{active: n == currentPage}"
                                                ng-click="setPage()">
                                                    <a href ng-bind="n + 1">1</a>
                                                </li>
                                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                    <a href ng-click="nextPage()">Next »</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tfoot>
                                <tbody>
                                    <tr ng-repeat="note in pagedItems[currentPage]| orderBy:'-created_at'">
                                        <td><input type="checkbox" ng-model="note.checked" ng-change="rehashChecked()"></input></td>
                                        <td>{{ note.title|truncate:35 }}</td>
                                        <td>{{ note.created_at|timesince }}</td>
                                        <td>
                                            <a class="btn btn-small" ng-click="openForm(note)">Edit</a>
                                            <a class="btn btn-small btn-share" ng-class="{disabled: !selectedContact}">Share</a>
                                            <a class="btn btn-small" ng-click="removeNote(note)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Notes list window -->
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="box-right" id="sidebar" ng-controller="ContactsController">
                    <div class="box-middle" id="box-middle">
                        <!--
                        <div class="form-search" style="margin-bottom:20px">
                            <input type="text" class="input-medium search-query">
                        </div>
                        -->
                        <div class="box-contacts" id="box-contacts">
                            <div class="contacts-container">
                                <legend>Contacts:</legend>


                                <div ui-spinjs="'contactsLoaded'" class="spinjs"></div>

                                <div id="contacts-select">
                                    <div class="contact-item" ng-repeat="contact in contacts"
                                            ng-class="{selected: contact.selected}" ng-click="changeSelection(contact)">
                                        <i class="icon-user"></i> <span>{{ contact.alias|truncate }}</span>
                                    </div>
                                </div>

                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button class="btn btn-small" id="btn-newcontact" ng-click="openFormNew()"><i class="icon-plus"></i> New</button>
                                        <button class="btn btn-small disabled" ng-class="{disabled: !selectedContact }"
                                            ng-click="openFormEdit()" id="btn-editcontact"><i class="icon-remove"></i> Details</button>
                                        <button class="btn btn-small disabled" ng-class="{disabled: !selectedContact }"
                                            id="btn-removecontact" ng-click="deleteSelectedContact()" data-target="#deleteContactModal">

                                            <i class="icon-remove"></i> Remove</button>
                                    </div>
                                </div>

                                <div class="form-errors-container " ng-class="{ hidden: !formErrors.length }">
                                    <div class="alert alert-error">
                                        <div class="msg-list">
                                            <div class="error-item" ng-repeat="error in formErrors">{{ error }}</div>
                                        </div>
                                    </div>
                                </div>

                                <form name="contactsFormEdit" id="contacts-form-edit" class="well well-small hidden"
                                        ng-class="{ hidden: !formEditOpen }" ui-parsley="submitEdit()">
                                    <div class="control-group">
                                        <input type="text" name="uuid" class="contact-uuid" style="width:265px"
                                            data-required="true" placeholder="Contact id:" ng-model="selectedContact.id"/>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" name="alias" class="contact-alias"
                                            data-required="true" placeholder="Contact alias:" ng-model="selectedContact.alias"/>
                                    </div>
                                    <fieldset style="margin-top:10px">
                                        <input type="submit" class="btn btn-small btn-save" value="Save"></input>
                                        <input type="button" class="btn btn-small btn-close" ng-click="closeFormEdit()" value="Close"></input>
                                    </div>
                                </form>

                                <form name="contactsFormNew" id="contacts-form-new" class="well well-small hidden"
                                        ng-class="{ hidden: !formNewOpen }" ui-parsley="submitNew()">
                                    <div class="control-group">
                                        <input type="text" name="uuid" class="contact-uuid" style="width:265px"
                                            data-required="true" placeholder="Contact id:" ng-model="newContact.id"/>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" name="alias" class="contact-alias"
                                            data-required="true" placeholder="Contact alias:" ng-model="newContact.alias"/>
                                    </div>
                                    <fieldset style="margin-top:10px">
                                        <input type="submit" class="btn btn-small btn-save" value="Save"></input>
                                        <input type="button" class="btn btn-small btn-close" ng-click="closeFormNew()" value="Close"></input>
                                    </div>
                                </form>

                            </div>
                        </div><!-- box-contacts -->
                    </div><!-- box-right-middle -->
                </div><!-- box-right -->
            </div>
        </div>
    </div>
    <div id="deleteContactModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete contact</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Delete</button>
        </div>
    </div>
    <div id="deleteNotesModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete note</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Delete</button>
        </div>
    </div>
    <div id="shareNoteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Share note</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Share</button>
        </div>
    </div>
</div>
