<div ng-controller="NotifyController" ng-hide="!hasNotify">
    <div class="container notify-container">
        <div class="row">
            <div class="span12">
                <div class="alert alert-error" ng-hide="!gmessages.error">
                    <button type="button" class="close" ng-click="clear('error')">×</button>
                    <div class="msg-list">
                        <div class="item" ng-repeat="msg in gmessages.error">{{ msg }}</div>
                    </div>
                </div>
                <div class="alert" ng-hide="!gmessages.info">
                    <button type="button" class="close" ng-click="clear('info')">×</button>
                    <div class="msg-list">
                        <div class="item" ng-repeat="msg in gmessages.info">{{ msg }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
