<!-- Main window: container for other subwindows. -->
<div id="main-window">
    <div ng-include="'partials/header.html'"></div>

    <div class="container shares-container">
        <div class="row share-preview" ng-hide="hidePreview">
            <div class="span12">
                <div class="share-preview">
                    <h3>Shared note preview. <small><a class="important" ng-click="hidePreview=true; hideList=false">(Return to list)</a></small></h3>
                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="subject">Title</th>
                                <th class="title">From</th>
                                <th class="datetime">Created</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr>
                                <td>{{ currentSharedNote.title }}</td>
                                <td>niwibe</td>
                                <td>{{ currentSharedNote.created_at|timesince }}</td>
                            </tr>
                            <tr>
                                <th colspan="4">Content:</th>
                            </tr>
                            <tr>
                                <td colspan="4">{{ currentSharedNote.content }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="hideList">
            <div class="span12">
                <div class="shares-list">
                    <h3>Shared notes with you</h3>

                    <table class="table table-condensed table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="subject">Title</th>
                                <th class="title">From</th>
                                <th class="datetime">Created</th>
                                <th class="input">Options</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr ng-repeat="sharedNote in sharedNotes | orderBy:'-created_at'">
                                <td>{{ sharedNote.title }}</td>
                                <td>niwibe</td>
                                <td>{{ sharedNote.created_at|timesince }}</td>
                                <td>
                                    <a class="btn btn-small" ng-click="acceptSharedNote(sharedNote)">Accept</a>
                                    <a class="btn btn-small" ng-click="previewSharedNote(sharedNote)">View</a>
                                    <a class="btn btn-small" ng-click="removeSharedNote(sharedNote)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteMessagesModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete messages</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Delete</button>
        </div>
    </div>
</div>
