<!-- Main window: container for other subwindows. -->
<div id="main-window">
    <div ng-include="'partials/header.html'"></div>

    <div class="container messages-container hidden" id="notes-messages-container">
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <button type="button" class="close">×</button>
                    <div class="msg-list"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container privkey-container" id="privkey-container">
        <div class="row">
            <div class="span12">
                <div class="box-privkey-form well" id="box-privkey-form">
                    <form class="privkey-form" ui-parsley="save()">
                        <p>Paste here your private key, it will be saved locally on the persistent memory of the browser.
                        Never send this key to the server.</p>
                        <div class="control-group">
                            <input type="text" id="passphrase" placeholder="Passphrase" ng-model="passphrase" />
                        </div>
                        <div class="control-group">
                            <textarea id="privkey" class="notes-content" data-privkey="#passphrase"
                                placeholder="Private key" ng-model="privkey"></textarea>

                            <div class="inputs">
                                <input type="file" name="privkey" ui-file="keyFileChange($event)"></input>
                            </div>

                            <div class="buttons">
                                <input type="submit" class="btn btn-small btn-primary" value="Set key"></input>
                                <input type="button" class="btn btn-small btn-warning" value="Clear key"
                                    ng-click="clearKey()"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
