<!-- Main window: container for other subwindows. -->
<div id="main-window">
    <div ng-include="'partials/header.html'"></div>

    <div class="container messages-container hidden" id="notes-messages-container">
        <div class="row">
            <div class="span12">
                <div class="alert">
                    <button type="button" class="close">×</button>
                    <div class="msg-list"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container profile-container" id="profile-container">
        <div class="row">
            <div class="span12">
                <h2>Profile</h2>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>General profile information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="profile-info">
                                    <strong>User id:</strong> <code>{{ profile.id }}</code>
                                </div>
                                <div class="current-node">
                                    <strong>Current node: </strong>
                                    <ul>
                                        <li>{{ profile.node_name }}</li>
                                    </ul>
                                </div>
                                <div class="trusted-nodes">
                                    <strong>Trusted nodes:</strong>
                                    <ul>
                                        <li ng-repeat="node in profile.trusted_nodes">{{ node }}</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />

                <h4>Quota & Stats</h4>

                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Notes</th>
                            <th>Max notes</th>
                            <th>Messages</th>
                            <th>Contacts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ profile.blob_count }}</td>
                            <td>{{ profile.blob_total }}</td>
                            <td>0</td>
                            <td>{{ profile.contact_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
