<div id="register-window" class="auth-window">
    <div ng-include="'partials/notify.html'"></div>

    <!-- Register Box -->
    <div class="container" id="register-box">
        <div class="row">
            <div class="span6 offset3">
                <div class="register-box center-box">
                    <div class="title-box">
                        <div class="title">{{ title }}</div>
                    </div>
                    <form ui-parsley="submit()" class="form-inline">
                        <div class="control-group">
                            <p>To register strongly recommended that you use an anonymous identifier,
                               but even so the possibility that we can use one that you like.</p>
                        </div>
                        <div class="control-group">
                            <input type="text" name="username" ng-model="form.fields.username"
                                data-remoteuserverify="true"  data-required="true" placeholder="Username" />
                        </div>
                        <div class="control-group">
                            <input type="email" name="email" ng-model="form.fields.email" data-required="true" placeholder="Email"/>
                        </div>
                        <div class="control-group">
                            <input type="password" name="password" ng-model="form.fields.password" data-required="true" placeholder="Password" />
                        </div>

                        <div class="control-group">
                            <textarea name="pubkey" data-pubkey="true" class="pubkey" placeholder="Public key"
                                ng-model="form.fields.pubkey" data-required="true"></textarea>
                            <p>This system works strictly with openssl keys. You can see more details of the limitations and how to generate your
                                <a ui-popover data-content-selector="#help-content"
                                    data-html="true" data-placement='top' class="key-help">Public/Private key</a>
                            </p>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="file" ui-file="keyFileChange($event)"></input>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <a href="#!/login" class="label">Login</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>

                    <div id="help-content" class="hidden">
                        <p>The current implementation requires a minimum RSA key: 2048 bits. You can create your
                            key pair with following commands.</p>
                        <p>As first step, create a privake key: <br />
                            <code>openssl genrsa -out privkey.pem 2048</code>
                        </p>

                        <p>As second step, create a pubkey: <br />
                            <code>openssl rsa -in privkey.pem -pubout -out pubkey.pem</code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
