<div id="verify-window" class="auth-window">
    <div ng-include="'partials/notify.html'"></div>

    <!-- Verify Box -->
    <div class="container" id="verify-box">
        <div class="row">
            <div class="span6 offset3">
                <div class="verify-box center-box">
                    <div class="title-box">
                        <div class="title">{{ title }}</div>
                    </div>
                    <form ui-parsley="submit()">
                        <div class="control-group">
                            <label class="control-label">Verification token: </label>
                            <div class="controls">
                                <input type="text" ng-model="form.fields.token" name="token" data-required="true"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <a href="#!/login" class="label">Login</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
