@font-face {
    font-family: 'ExoRegular';
    src: url('../fonts/Exo-Regular-webfont.eot');
    src: url('../fonts/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Exo-Regular-webfont.woff') format('woff'),
         url('../fonts/Exo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Exo-Regular-webfont.svg#ExoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ExoDemiBold';
    src: url('../fonts/Exo-DemiBold-webfont.eot');
    src: url('../fonts/Exo-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Exo-DemiBold-webfont.woff') format('woff'),
         url('../fonts/Exo-DemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Exo-DemiBold-webfont.svg#ExoDemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
