@import "bootstrap/less/bootstrap.less";
@import "bootstrap-wysihtml5.less";
@import "fonts.less";
@iconSpritePath:          "/less/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/less/bootstrap/img/glyphicons-halflings-white.png";


.main {
    font-family: 'Garamond', 'Georgia', serif;

    .header-background {
        background-color: #333;
    }

    .header-container {
        margin-bottom: 10px;

        .title-row {
            font-family: 'ExoRegular', sans-serif;
            line-height: 25px;
            color: #ddd;

            a { color: #ddd; }

            span.title {
                color: #f0431c;
            }

            legend {
                margin-bottom: 0px;
                border-bottom: 0px;
            }

            .left {
                .active {
                    font-weight: bold;
                }
            }

            .right {
                text-align: right;
                .user-action {
                    display: inline-block;
                    padding-left: 20px;
                }

                .user-menu {
                    display: inline-block;
                    margin-left: 20px;

                    a {
                        color: black;
                    }

                    .user-uuid {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .notify-container {
        strong {
            font-size: 12px;
        }

        .alert {
            .border-radius(0px);
            padding: 4px 35px 4px 14px;
            margin-bottom: 2px;

            .close {
                position: relative;
                top: 2px;
                right: -23px;
                line-height: 20px;
            }
        }
    }

    .form-errors-container {
        margin-bottom: 10px;
        strong {
            font-size: 12px;
        }

        .alert {
            .border-radius(0px);
            padding: 4px 35px 4px 14px;
            margin-bottom: 2px;

            .close {
                position: relative;
                top: 2px;
                right: -23px;
                line-height: 20px;
            }
        }
    }

    .notes-container {
        margin-top: 20px;

        .right-btn-toolbar,
        .left-btn-toolbar {
            margin-top: 0px;

        }

        .right-btn-toolbar {
            .btn-group {
                margin-right: 5px;
            }
        }

        .box-right {
            .box-middle {
                .box-contacts {
                    .spinjs {
                        width: 20px;
                        margin: 0px auto 0px;
                        padding: 20px;
                    }
                    #contacts-select {
                        .contact-item {
                            cursor: pointer;
                            border-radius: 2px;
                            padding: 2px;
                            padding-left: 10px;

                            &.selected {
                                background-color: #f4f4f4;
                            }
                        }
                    }
                    legend {
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    a, a:hover {
                        color: #333;
                    }
                }
            }
        }

        .box-left {
            .box-middle {
                .btn-toolbar {

                    font-size: 14px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    .links {
                        float: left;
                        ul {
                            padding: 0px;
                            margin: 0px;
                            li {
                                display: inline-block;
                                padding: 5px;
                            }
                        }
                    }
                    .search {
                        float: right;
                    }
                }

                .box-notes-merge {
                    .raw-patch {
                        textarea {
                            width: 565px;
                            height: 150px;
                            font-size: 11px;
                            font-family: monospace;
                            line-height: 12px;
                        }
                    }
                    .pretty-patch {
                        .content {
                            width: 565px;
                            height: 150px;
                            font-size: 11px;
                            font-family: monospace;
                            line-height: 12px;
                            background-color: white;
                            padding: 5px;
                            border: 1px solid #ccc;
                        }
                    }
                }

                .box-notes-form {
                    form { margin-bottom: 0px; }
                    textarea {
                        width: 645px;
                        width: 585px;
                        height: 300px;
                        font-size: 11px;
                        font-family: monospace;
                    }
                    input {
                        width: 645px;
                        width: 585px;
                        font-family: monospace;
                        font-size: 11px;
                    }
                }

                .box-notes-preview {
                    font-family: monospace;
                    font-size: 12px;
                    position: relative;

                    .title {
                        legend {
                            font-size:14px;
                            line-height: 20px;
                            font-weight: bold;
                        }
                    }
                    .buttons {
                        margin-top: 40px;
                        text-align: right;

                        .btn-group {
                            position: absolute;
                            top: 6px;
                            right: 10px;
                        }
                    }
                }

                .box-notes-list {
                    .spinjs {
                        width: 20px;
                        margin: 100px auto 0px;
                    }

                    .load-progress {
                        width: 400px;
                        margin: 0 auto;
                        padding: 15px;

                        .progress {
                            height: 10px;
                        }
                    }

                    table {
                        th.datetime { width: 115px; }
                        th.input { width: 15px; }
                        th.buttons {
                            width: 165px;
                        }
                        td {
                            line-height: 24px;
                            vertical-align: middle;
                        }
                        input[type=checkbox] {
                            margin:0px;
                        }
                    }
                }
            }
        }
    }

    .privkey-container {
        .box-privkey-form {
            form { margin-bottom: 0px; }
            input[type=text] {
                width: 485px;
            }
            textarea {
                width: 645px;
                width: 885px;
                height: 300px;
                font-size:11px;
                font-family: monospace;
            }

            .inputs {
                margin-top: 20px;
            }

            .buttons {
                margin-top: 20px;
            }
        }
    }

    .shares-container {
        .shares-list {
            table {
                th.input {
                    width: 200px;
                }
                td {
                    cursor: pointer;
                    line-height: 24px;
                    vertical-align: middle;
                }
            }
        }
    }

    .profile-container {
        td.blacklist-container {
            width: 300px;

            form {
                margin: 0px;
            }

            textarea {
                width: 285px;
                height: 200px;
            }
        }
    }

    .msg-container {
        .buttons-row {
            .btn-toolbar { text-align: right; }
        }

        .form-row {
            .box-contacts {
                select#contacts-select {
                    width: 100%;
                    font-size: 14px;
                    .border-radius(0px);
                    min-height: 150px;
                    overflow: auto;
                    margin-bottom: 0px;
                }
            }
            .msgs-form {
                .message-title {
                    width: 660px;
                }
                .message-content {
                    width: 905px;
                    height: 200px;
                }
            }

        }
        .msgs-row {
            .msg-list {
                td {
                    line-height: 24px;
                    vertical-align: middle;
                }
                th.buttons {
                    width: 130px;
                }
            }
        }
        .msgs-preview {
            .response-form {
                form {
                    margin: 0px;
                    textarea {
                        width: 915px;
                        height: 90px;
                    }
                }
            }
            .response-preview {
                white-space: pre-wrap;       /* css-3 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }
        }
    }

    .btn {
        .border-radius(0px);
    }

    select,
    button,
    textarea,
    input {
        .border-radius(0px) !important;
    }

    input.error {
        border: 1px solid @red;
    }

    .container-background {
        background-color: @grayLight;
        padding: 5px;
    }
}

.auth-window {
    .center-box {
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        border: 1px solid #ddd;
        .box-shadow(3px 3px 6px -3px #888);

        .title-box {
            .title {
                padding-bottom: 10px;
                font-size: 22px;
                color: #f0431c;
                font-family: 'ExoRegular', sans-serif;
                line-height: 25px;
            }
        }
        .control-group {
            padding-left: 5px;
            padding-right: 5px;
        }

        .form-actions {
            padding: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            background-color: #f5f5f5;
            border-top: 1px solid #e5e5e5;
        }

        form {
            margin-bottom: 0px;
        }

        textarea.pubkey {
            width: 415px;
            height: 100px;
            font-size: 11px;
            font-family: monospace;
        }

        input[type=password],
        input[type=email],
        input[type=text] {
            width: 285px;
        }

        .controls {
            input[type=password],
            input[type=email],
            input[type=text] {
                width: 255px;
            }
        }
        a.key-help {
            font-weight: bold;
            cursor: pointer;
        }
    }
}


/* General overwrites */

a {
    color: #333;
}

a.important {
    color: #f0431c;
}

a.disabled {
    color: #999;
}

.well {
    .border-radius(0px);
}

.wysihtml5-toolbar {
    .btn {
        padding: 4px 10px;
    }
}


.hidden {
    display: none;
}

.popover {
    width: 500px;

    p { margin-bottom: 10px; }
    code { font-weight: bold; }
}

.dropdown-toggle:hover {
    text-decoration: underline;
}

/* Parsley styles */

ul.parsley-error-list {
    list-style: none;
    margin: 0px;

    li {
        color: #b94a48;
        font-weight: bold;
    }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    margin-bottom: 0px;

    &.parsley-error {
        border-color: #b94a48;
    }
}

.modal.fade.in {
    margin: 0 auto;
    top: 20%;
    position: absolute;
    left: 20%;
    right: 20%;
}

.form-horizontal {
    .control-label {
        //padding-top: 15px;
    }
    .help-inline {
        //padding-top: 10px;
    }
}
.form-actions {
    padding: 10px;
    margin-top: 10px;
}
